services:
  api:
    build: .
    container_name: sentiment-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:15
    container_name: sentiment-db
    restart: always
    environment:
      POSTGRES_USER: sentiment
      POSTGRES_PASSWORD: sentiment
      POSTGRES_DB: sentiment_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: